torch
torch-vision
torchtext
torchdata
torchtext
lightning
torchmetrics
pandas
tdqm
tokenizers
pennylane
amazon-braket-sdk
amazon-braket-pennylane-plugin
matplotlib
seaborn
scikit-learn
sentence-transformers
jupyterlab
qulacs
pennylane-qulacs

